<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

<Files status>
   Header set Content-Type "text/plain"
</Files>

<Files log>
   Header set Content-Type "text/plain"
</Files>

<Files error>
   Header set Content-Type "text/plain"
</Files>